body {
	position: relative;
}

footer {
	background-color: gray;
	height: 4%;
	padding-top: 50px;
	text-align: center;
}

.nav {
	text-align: center;
}

.affix {
	top: 0;
	width: 100%;
}

.affix-top {
	position: absolute;
	width: 100%;
}

.affix + container-fluid,
.affix-top + container-fluid {
	padding-top: 50px;
}

#top_bar {
	background-color: #3c5fff;
	text-align: center;
}

section:nth-child(even) {
background-color: lightgrey;
}

section {
	padding-top: 50px;
}
